[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "==1.3.12"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.6"
